body {
    background-color: black;
}

a > div {
    background-color: white;
    width: 10em;
    height: 10em;
    margin: 2em;
    text-align: center;   
    position: relative;
    border-radius: 20px;
}

#links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
a {
    text-decoration: none;
}
 span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }