#map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.do {
    position: absolute;
    top: 30%;
    right: 10px;
}

#repeatMap {
    transform: translate(0, 110%);
}

#backMap {
    transform: translate(0, 220%);
}

.sidebar {
    position: absolute;
    top: 50%;
    left: -15.5em;
    height: 95%;
    width: 15em;
    overflow: hidden;
    text-align: center;
    font-size: x-large;
    transition: ease-in-out;
    transition-duration: 0.5s;
    background-color: rgba(255, 255, 255, 0.9);
    transform: translate(0, -50%);
    border-radius: 1em;
    box-shadow: 0 0 .5em;
    z-index: 1;
}

#searchbar {
    position: absolute;
    top: -5em;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    transition-timing-function: ease-in;
    transition-duration: 0.5s;
}

#searchInput {
    width: 20em;
    height: 2em;
    font-size: 2em;
    border-radius: 10px;
    border-style: none;
    padding: 0 .5em;
    box-shadow: 0 0 5px;
}

li {
    margin: 1em;
}

#centerpoint {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
}

.distance-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

.distance-container>* {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 11px;
    line-height: 18px;
    display: block;
    margin: 0;
    padding: 5px 10px;
    border-radius: 3px;
}

.actionButton {
    position: relative;
    margin: 2px;
    z-index: 2;
}

#buttons {
    position: absolute;
    bottom: 2px;
}

#results {
    transition-duration: 0s;
}

.prev-next-button {
    font-weight: bolder;
    font-size: larger;
    width: 5em;
    height: 1.5em;
}

#accept-reject {
    visibility: hidden;
}